
* {
  /*border: 1px solid rgba(0,153,0,0.3);*/
}

html, body {
  font-size: 13px;
  font-family: Roboto, Arial, sans-serif;
  min-width: 1000px;
}
b {
  font-weight: bolder;     /* for search parameters matched in "related searches" */
}
em {                       /* for search parameters matched in "text search results" */
  color: rgb(106, 106, 106);
  font-weight: bold;
}


/*
 *  Utility selectors for use throughout
 */

.grey-text {
  color: rgb(120, 120, 120);
}
.grey-text-light {
  color: rgb(150, 150, 150);
}
.black-text {
  color: rgb(0, 0, 0);
}
.bluelink-text {
  color: rgb(26, 13, 171);
}
.shadow-border {
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 0 1px 2px rgb(210, 210, 210);
  border-radius: 2px;
}


/*
 *  main header
 */

.header-main {
  padding: 20px 0 25px;
}
.header-link {
    display: inline-block;
    vertical-align: middle;
}
.header-link-logo {             /*extends .header-link */
  position: absolute;
  margin: 5px 0 0 10px;
  }
.header-link-icon-searchbox {   /*extends .header-link */
  margin-left: 10px;
}
.header-link-icon-user {        /*extends .header-link */
  margin-right: 20px;
}
.header-icon {
  width: 24px;
  height: 24px;
  display: block;
}
.header-google-logo {
  vertical-align: middle;
}
.header-search-container {
  display: inline-block;
  width: 620px;
  height: 32px;         /* must match line-height */
  line-height: 34px;    /* controls vertical-align of imput and search icons */
  padding: 6px;
  margin-left: 150px;
}
.header-search-input {
  display: inline-block;
  padding: 4px;
  font-size: 16px;
  width: 536px;
  border: 0;
  vertical-align: middle;
}
.header-user-icon-container {
  display: inline-block;
  text-align: center;
  float: right;
}
.header-user-icon {
  background-color: purple;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  color: white;
  vertical-align: middle;
}


/*
 *  Nav  (alternate searches and settings/tools)
 */

 .nav-container {
   padding-bottom: 30px;
 }
.nav-alt-searches {
  margin-left: 150px;
  display: inline-block;
}
.nav-utilities {                  /* Settings and Tools */
  margin-left: 100px;
  display: inline-block;
}
.nav-link {
  padding: 0 8px;
  margin: 0 7px;
}


/*
 *  Search Summary
 */

.search-summary-container {
  padding: 5px 0 10px 165px;    /* extra left offset to match nav-link bar above */
}
.search-summary-text {
  font-size: 18px;
}


 /*
  *  Image Results
  */

.results-pics-container {
  padding: 5px 0 10px 150px;
  border-bottom: 1px solid rgb(210, 210, 210);
  margin-bottom: 30px;
}
.result-pic-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;

}
.result-pic-frame {
  width: 120px;
  height: 200px;           /*Controls height of entire link nav bar*/

}
.result-pic-image {
  height: 120px;
  width: 120px;
  display: block;
}
.result-pic-title {
  padding: 5px 15px;
}


/*
 *  Text Results
 */

 .result-text-container {
   padding: 5px 0 25px 165px;
   width: 600px;
 }
 .result-text {       /* container for each text search result */
   width: 100%;
   margin-bottom: 20px;
 }
 .result-text-link {
   font-size: 18px;
   display: block;
   margin-bottom: 6px;
 }
.result-text-url {
  font-size: 14px;
  color: rgb(3, 102, 24);
  display: block;
  margin-bottom: 3px;
}
.result-text-desc {
  line-height: 1.4;
  color: rgb(90, 90, 90);
}


/*
 *  Related Searches Links
 */

.related-searches-container {
  padding: 0 0 25px 165px;

}
.related-searches-block {     /* left and right containers*/
  width: 250px;
  display: inline-block;
}
.related-searches-title {
  font-size: 18px;
  padding-bottom: 20px
}
.related-searches-link {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 0 3px 0;
  display: block;
}


/*
 *  Google Logo Page Link
 */


.glogo-link-container {
  padding-left: 310px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(210, 210, 210);
  margin-bottom: 25px
}
.glogo-link {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  text-align: center;
}
.glogo-char-upper {
  font-size: 34px;
  font-weight: bold;
  display: block;
  padding-bottom: 5px;
}
.glogo-char-lower {
  display: block;
  padding: 5px 0;
}
.glogo-blue {
  color: rgb(46, 135, 218);
}
.glogo-red {
  color: rgb(246, 49, 49);
}
.glogo-green {
  color: rgb(39, 134, 0);
}
.glogo-yellow {
  color: rgb(244, 190, 0);
}
.glogo-color-current {
  color: rgb(0, 0, 0);
}
.g-floatleft {            /* hack for spacing last chars in logo-links */
  float: left;
}
.g-floaright {            /* hack for spacing last chars in logo-links */
  float: right;
}
.g-last-upper {           /* hack for spacing last chars in logo-links */
  margin: 0 5px 0 15px
}
.g-last-lower {           /* hack for spacing last chars in logo-links */
  text-align: right;
}


/*
 *  Footer
 */
.footer-main {
  padding: 0 0 20px 150px;
}
.location-container {
  padding: 0 0 15px 15px;
}
.location-orb {
  background-color: rgb(150, 150, 150);
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-right: 4px;
  float: left;

}
